.user-profile {
  --offset: 4rem;
  --padding: 1.5rem;

  width: var(--card-width);
  position: relative;
  isolation: isolate;
  margin: 0 auto var(--offset) auto;

  .front {
    background-color: var(--clr-primary);
    padding: var(--padding);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1rem;
    pointer-events: none;

    color: var(--clr-card-text-hover);

    .name {
      display: flex;
      flex-direction: column;

      span:first-child {
        font-size: 0.85rem;
      }

      h1:last-child {
        font-size: var(--fs-large);
        font-weight: var(--fw-thin);
        color: white;
      }
    }

    img {
      border-radius: 100%;
      border: 3px solid white;
    }
  }

  .back {
    background-color: var(--clr-card);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--offset) * -1);
    z-index: -1;
  }

  a {
    text-decoration: none;
    color: var(--clr-card-hover);
    z-index: 10;

    &:hover {
      color: var(--clr-card-text-hover);
    }
  }
}